/* base code */
* {
 box-sizing: border-box;
}

body {
 background: #7dafff;
}

h1 {
 text-align: center;
}

.row {
 width: 100%;
}
.item {
 border: none;
 padding: 10px;
 margin-top: 15px;
 margin-right: auto;
 margin-bottom: 15px;
 margin-left: auto;
 background: #dedede;
}

#chicken {
 border: 1px solid;
 border-color: #000000;
 background: #f57f8f;
 text-align: center;
 width: 30%;
 margin-top: 0;
 margin-bottom: 0px;
 margin-left: 70%;
 font-size: 24px;
 
}

